{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load socialaccount %}
{% block title %}Music Playlist{% endblock %}
{% block content %}
    <div class="container">
        <table id="songs" class="table table-condensed">
            <thead>
                <tr>
                    <th>pk</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Song</th>
                </tr>
            </thead>
            <tbody id="songsContent">
                <tr>
                    <td>No Songs Uploaded</td>
                </tr>
            </tbody>
        </table>

        <br>
        <div id="playlistContainer" style="display: none;">
            <h2 class="form-signin-heading">My Playlists</h2>
            <table id="songs" class="table table-condensed">

                <tbody id="playlistContent">
                <tr>
                    <td>No Playlist Created</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% if user.is_authenticated %}
            <div id="formsContainer">

            </div>
        {% else %}
            <div id="formsContainer">
                <form id="formSignIn" class="form-signin">
                    <h2 class="form-signin-heading">Please sign in to see your playlists</h2>
                    <p id="formErrors" class="bg-danger hidden"></p>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                    <button id="logInSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
                <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>
                <a href="{% provider_login_url "github" method="oauth2" %}">github OAuth2</a>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block js %}
    <script>
        var token = "";
        var logIn = function(user, pass){
            $.ajax({
                type: "POST",
                url: "API/v1/api-token-auth/",
                data: {
                    username: user,
                    password: pass
                },
                success: function(data) {
                    console.log(data);
                    token=data.token;
                    getPlayLists();
                    getFormCreatePlaylist();
                },
                error: function(data){
                    console.log(data);
                    var resp = JSON.parse(data['responseText']);
                    var form_error = $("#formErrors");
                    form_error.html(resp['non_field_errors']);
                    form_error.removeClass( "hidden" ).addClass("show");
                }
            });
        };

        var getFormCreatePlaylist = function () {
            $.ajax({
                type: "GET",
                url: "util/formcreateplaylist/",
                success: function(data) {
                    $("#formsContainer").html(data);
                    getSongs();
                    $('#createPlaylistSubmit').on('click', function(event){
                        event.preventDefault();
                        putPlayLists();
                    });
                }
            });
        };

        var getPlayLists = function(){
            $.ajax({
                type: "GET",
                headers: {
                    'Authorization': 'JWT '+ token
                },
                url: "API/v1/playlist/playlists/",
                success: function(data) {
                    console.log(data);
                    renderPlaylists(data);
                },
                error: function(data){
                    console.log(data);
                }
            });
        };

        var putPlayLists = function(){
            var selectedSongs = $('input:checkbox:checked').map(function () {
                return parseInt(this.value);
            }).get();
            $.ajax({
                type: "PUT",
                data: {
                    name: $('#playlistName').val(),
                    description: $('#playlistDescription').val(),
                    songs: selectedSongs
                },
                headers: {
                    'Authorization': 'JWT '+ token
                },
                url: "API/v1/playlist/playlists/",
                success: function(data) {
                    console.log(data);
                    getPlayLists();
                },
                error: function(data){
                    console.log(data);
                }
            });
        };

        var getSongs = function(){
            $.ajax({
                type: "GET",
                url: "API/v1/playlist/songs/",
                success: function(data) {
                    console.log(data);
                    allsongs = data;
                    renderSongs(data) ;
                    if ($('#createPlaylist').length > 0){
                        renderFormSongs(data);

                    }
                },
                error: function(data){
                    console.log(data);
                    return 0;
                }
            });
        };
        
        var renderSongs = function (songs) {
            if(songs!=0 || songs.length > 0){
                var htmlSongs = "";
                for (var i = 0; i < songs.length; i++) {
                    htmlSongs += "<tr>";
                    htmlSongs += "<td>" + songs[i]['pk'] + "</td>";
                    htmlSongs += "<td>" + songs[i]['name'] + "</td>";
                    htmlSongs += "<td>" + songs[i]['description'] + "</td>";
                    htmlSongs += "<td>" + songs[i]['song_file'] + "</td>";
                    //htmlSongs += "<td><audio><source src='" + songs[i]['song_file'] + "' type='audio/mpeg'></audio></td>";
                    htmlSongs += "</tr>";
                }
                $('#songsContent').html(htmlSongs);
            }
        };

        var renderFormSongs = function (songs) {
            if(songs!=0 || songs.length > 0){
                var htmlSongs = "";
                for (var i = 0; i < songs.length; i++) {
                    htmlSongs += "<tr>";
                    htmlSongs += "<td><input type='checkbox' name='songs' value='" + songs[i]['pk'] + "'></td>";
                    htmlSongs += "<td>" + songs[i]['name'] + "</td>";
                    htmlSongs += "<td>" + songs[i]['description'] + "</td>";
                    htmlSongs += "<td>" + songs[i]['song_file'] + "</td>";
                    //htmlSongs += "<td><audio><source src='" + songs[i]['song_file'] + "' type='audio/mpeg'></audio></td>";
                    htmlSongs += "</tr>";
                }
                $('#songsContentSelect').html(htmlSongs);
            }
        };

        var renderPlaylists = function (playlists) {
            var htmlPlaylist = "";
            for(var i=0; i < playlists.length; i++){
                htmlPlaylist += "<tr>";
                htmlPlaylist += "<td colspan=4 style='text-align:center;font-weight:bold;'>Playlist Name: " + playlists[i]['name'] + "<td>";
                htmlPlaylist += "</tr>";
                htmlPlaylist += "<tr>";
                htmlPlaylist += "<td colspan=4 style='text-align:center;font-weight:bold;'>Playlist Name: " + playlists[i]['description'] + "<td>";
                htmlPlaylist += "</tr>";
                htmlPlaylist += "<tr><th>pk</th><th>Name</th><th>Description</th><th>Song</th></tr>";
                for (var j = 0; j < playlists[i]["songs"].length; j++){
                    htmlPlaylist += "<tr>";
                    htmlPlaylist += "<td>" + playlists[i]["songs"][j]['pk'] + "</td>";
                    htmlPlaylist += "<td>" + playlists[i]["songs"][j]['name'] + "</td>";
                    htmlPlaylist += "<td>" + playlists[i]["songs"][j]['description'] + "</td>";
                    htmlPlaylist += "<td>" + playlists[i]["songs"][j]['song_file'] + "</td>";
                    //htmlPlaylist += "<td><audio><source src='" + playlists[i]["songs"][j]['song_file'] + "' type='audio/mpeg'></audio></td>";
                    htmlPlaylist += "</tr>";
                }
            }
            $('#playlistContainer').show();
            $('#playlistContent').html(htmlPlaylist);
        };

        $(document).ready(function () {
            getSongs();
            {% if user.is_authenticated %}
            getFormCreatePlaylist();
            {% endif %}
            $('#logInSubmit').on('click', function(event){
                event.preventDefault();
                logIn($("#inputUsername").val(), $("#inputPassword").val());
            });
        });
    </script>
{% endblock %}